@import 'responsive.sсss';

.doc {
	padding: 80px 0;
	@include media(sm) {
		padding: 60px 0;
	}
	.title {
		text-align: center;
	}
	&__wrap {
		padding-top: 40px;
		margin-bottom: 70px;
		@include media(mdx) {
			margin-bottom: 60px;	
		}
		@include media(sm) {
			margin-bottom: 40px;	
		}
	}
	&__item {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		background-color: #F8F8F8;
		padding: 18px 20px;
		padding-bottom: 0px;
		padding-left: 24px;
		border-left: 8px solid #FF7628;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&__subtitle {
		font-size: 18px;
		line-height: 1.2;
		color: #181818;
		padding-right: 20px;
		margin-right: auto;
		margin-bottom: 18px;
		@include media(mdx) {
			font-size: 16px;
		}
		@include media(sm) {
			font-size: 15px;
		}
	}
	&__holder {
		display: flex;
		align-items: center;
		margin-bottom: 18px;
	}
	&__btn {
		display: block;
		width: 32px;
		height: 32px;
		border: none;
		outline: none;
		&:not(:last-child) {
			margin-right: 20px;
		}
		&--load {
			svg {
				fill: #FF7628;
				transition: 0.25s fill;
			}
			&:hover svg {
				fill: #181818;
			}
		}
		&--view {
			svg {
				stroke: #FF7628;
				transition: 0.25s stroke;
			}
			&:hover svg {
				stroke: #181818;
			}
		}
	}
}