@import 'responsive.sÑss';

:root {
  --whiteColor: #ffffff;
  --titleColor: #121212;
}

* {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  background: #ECDFCF;
  margin: 0;
  padding: 0px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.btn {
  cursor: pointer;
  display: block;
  max-width: 390px;
  width: 100%;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  background-color: #FF7628;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 15px 10px;
  text-align: center;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  transition: 0.25s background-color;
  @include media(sm) {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &--rules {
    margin-bottom: 54px;
    @include media(mdx) {
      margin-bottom: 40px;
    }
     @include media(sm) {
      margin-bottom: 38px;
     }
  }
  &:hover:not(:disabled) {
    background-color: #cca000;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
    text-decoration: line-through;
  }
}

.error {
  font-size: 16px;
  color: #f00;
  text-shadow: 0 0 5px black;
  font-weight: 700;
}

.title {
  font-size: 24px;
  line-height: 1.2;
  color: #130A08;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  @include media(sm) {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.subtitle {
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 900;
  @include media(mdx) {
      font-size: 40px;  
  }
   @include media(sm) {
    font-size: 28px;
    text-align: center;
   }
  @include media(xxs) {
    font-size: 25px;
  }
}

.input, .area {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #130A08;
  background-color: transparent;
  outline: none;
  border: 2px solid #130A08;
  border-radius: 5px;
  padding: 14px 20px;
  &::placeholder {
    color: #130A08;
    text-transform: uppercase;
  }
}
.area {
  min-height: 150px;
  resize: none;
}

.breadcrumbs {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 14px;
    li {
      font-size: 20px;
      color: #130A08;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 400;
      @include media(mdx) {
        font-size: 18px;
      }
      @include media(sm) {
        font-size: 16px;
      }
      a {
        color: #333;
        margin-right: 7px;
        transition: 0.25s color;
        &:after {
           margin-left: 9px;
           content: '/';
           color: #333;
        }
        &:hover {
          color: #051367;
        }
      }
    }
  }
}

.fp-warning, .fp-watermark {
  opacity: 0;
  visibility: hidden;
}
.section.fp-section {
  @include media(mdx) {
    padding-top: 0px !important;
  }
}

.section.fp-section:first-child {
  @include media(mdx) {
    padding-top: 50px !important;
  }
}

.fp-is-overflow .fp-overflow.fp-auto-height, .fp-is-overflow .fp-overflow.fp-auto-height-responsive, .fp-is-overflow>.fp-overflow {
  @include media(mdx) {
    overflow: visible;
    max-height: initial;
  }
}

.fp-scrollable .fp-section:not(.fp-auto-height):not([data-percentage]), .fp-scrollable .fp-slide:not(.fp-auto-height):not([data-percentage]), .fp-scrollable.fp-responsive .fp-is-overflow.fp-section:not(.fp-auto-height):not([data-percentage]) {
  @include media(mdx) {
    min-height: auto;
  }
}

.fullpage-wrapper {
  @include media(mdx) {
    transform: none;
  }
}

@import 'reset';
@import 'header';
@import 'info';
@import 'tabs';
@import 'doc';
@import 'page-inner';
@import 'doc';
@import 'page-inner';